node_modules/
logs/
*.log
npm-debug.log*
dist/
build/
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
.cargo/
.chocolatey/
.config/
.continuum/
.cursor/
.bash_history
.condarc
Frontend/
ModerJs/
express/Faker/
